{{yield}}
<div class="ui segment" style="text-align: center">
  <button class="ui button positive" {{action "validation"}}><i id="icon-bt-okay" class="icon check circle"></i>Valider</button>
  &nbsp;
  <button class="ui button negative" {{action "cancel"}}><i id="icon-bt-cancel" class="icon times circle"></i>Annuler</button>
</div>
