.imageFonctionnalité {
  width: 100%;
}

.containerFonctionnalité {
  width: 19%;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
}

.descriptionFonctionnalité {
  width: 19%;
  text-align: justify;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

.homeContainer {
  margin-bottom: 50px;
}

/*inscription alignement des zones de saisie*/
.alignedroit
{
  margin-left: 7%;
}
