.imageFonctionnalité {
  width: 100%;
}

.containerFonctionnalité {
  width: 19%;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;
}

.descriptionFonctionnalité {
  width: 19%;
  text-align: justify;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

.homeContainer {
  margin-bottom: 50px;
}

/*inscription alignement des zones de saisie*/
.alignedroitn
{
  margin-left: 19.5%;
}
.alignedroitp
{
  margin-left: 16.8%;
}
.alignedroitps
{
  margin-left: 17%;
}
.alignedroite
{
  margin-left: 18.8%;
}
.alignedroitmdp
{
  margin-left: 12.2%;
}
.alignedroitcmdp
 {
   margin-left: 3.2%;
 }
.alignedroitg
{
  margin-left: 19.5%;
}
