<div class="ui container">
  <div class="ui secondary  menu">
    {{#link-to "index" class="item"}}
      Home
    {{/link-to}}
    {{#link-to "projects" class="item"}}
      Projects
    {{/link-to}}
    {{#link-to "developers" class="item"}}
      Developers
    {{/link-to}}
  </div>
  {{outlet}}
</div>