<div class="ui container">
  <div class="ui secondary  menu">
    {{#link-to "index" class="item"}}
      Accueil
    {{/link-to}}
    {{#link-to "projects" class="item"}}
      Projets
    {{/link-to}}
    {{#link-to "developers" class="item"}}
      Développeurs
    {{/link-to}}
  </div>
  {{outlet}}
</div>