<div class="ui container">

  <!-- Si pas connecté -->
  <div style="display: inline-block; width: 100%; margin-top: 10px">
    <div class="ui secondary menu" style="float: left">
      {{#link-to "index" class="item"}}
        <i class="list icon"></i> Boards
      {{/link-to}}

      {{#link-to "projects" class="item"}}
        Projets
      {{/link-to}}

      {{#link-to "developers" class="item"}}
        Développeurs
      {{/link-to}}
    </div>

    <div class="ui secondary menu" style="float: right; margin-top: 0px;">
      {{#link-to "developers.new" class="item"}}
        <i class="user icon"></i> Inscription
      {{/link-to}}

      {{#link-to "connexion" class="item"}}
        <i class="sign out icon"></i> Connexion
      {{/link-to}}

      {{#link-to "profil" class="item"}}
        <i class="user icon"></i> Profil
      {{/link-to}}

      {{#link-to "index" class="item"}}
        <i class="sign in icon"></i> Déconnexion
      {{/link-to}}
    </div>
  </div>

  <!-- Si connecté ne pas afficher connexion et inscription -->
  {{outlet}}
</div>