<div id="homeHeader" style="text-align: center; border-bottom: 2px solid grey; border-top: 2px solid grey; padding-top: 15px; margin-bottom: 25px">
  <h1>Connectez-vous</h1>
  <i>Connectez-vous afin de retrouver tout vos projets</i>
  <br> <br>
</div>

<div>

  <div style="width: 50%; margin-left: 25%">
    <img src="assets/img/board.png" style="width: 100%">
  </div>

  <div class="ui form" style="margin-bottom: 25px; text-align: center">
    <div class="field">
      <label>Pseudo</label>
      <div id="" class="ui input" style="width: 33%;">
        {{input id="" value=model.pseudo}}
      </div>
    </div>
    <div class="field">
      <label style="">Mot de passe</label>
      <div id="" class="ui input" style="width: 33%;">
        {{input id="" value=model.password}}
      </div>
    </div>
    <div class="field" style="text-align: center">
      <label>
        <i class="question circle icon"></i>
        {{#link-to "index" class="item"}}Mot de passe oublié?{{/link-to}}
      </label>
    </div>

    <button class="ui button inputForm">Connexion</button>
  </div>


</div>

<footer>2 SIO | 2018 © Tous droits réservés</footer>

{{outlet}}