<div id="homeHeader" style="text-align: center; border-bottom: 2px solid grey; border-top: 2px solid grey; padding-top: 15px; margin-bottom: 25px">
  <h1>Connectez-vous</h1>
  <i>Connectez-vous afin de retrouver tout vos projets</i>
  <br> <br>
</div>

<div>

  <div>

  </div>

  <div class="ui form">
    <div class="inline fields">
      <div class="ten wide field">
        <label style="width: 20%">Pseudo</label>
        <input type="text" style="width: 30%">
      </div>
    </div>

    <div class="inline fields">
      <div class="ten wide field">
        <label style="width: 20%">Mot de passe</label>
        <input type="password" style="width: 30%">
      </div>
    </div>

    <div class="inline fields">
      <div class="ten wide field">
        <i class="question circle icon"></i>
        <label>{{#link-to "index" class="item"}}Mot de passe oublié{{/link-to}}</label>
      </div>
    </div>

    <div class="inline fields">
      <div class="ten wide field">
        <button class="ui button" style="width: 52%">Connexion</button>
      </div>
    </div>

  </div>
</div>

{{outlet}}