<div id="homeHeader" style="text-align: center; border-bottom: 2px solid grey; border-top: 2px solid grey; padding-top: 15px;">
  <h1>Bienvenue sur Boards</h1>
  <i>Votre nouvel outil de gestion de projet</i>
  <br> <br>
</div>


<div id="homeContainer">
  <div style="display: block; width: 100%; margin-top: 25px">
    <div class="imageFonctionnalité">
      <img src="../../public/img/dashboard.png">
    </div>
    <div class="imageFonctionnalité">
      <img src="../../public/img/project.png">
    </div>
    <div class="imageFonctionnalité">
      <img src="../../public/img/task.png">
    </div>
    <div class="imageFonctionnalité">
      <img src="../../public/img/user.png">
    </div>
  </div>

  <div style="display: block; width: 100%;">
    <div class="descriptionFonctionnalité">
      Grâce à Boards vous avez accès à un tableau de bord vous indiquant toutes les données
      importante de vos projets tel que le nombre de tâches en cours, le nombre de projets en
      cours, etc...
    </div>

    <div class="descriptionFonctionnalité">
      Vous avez la posibilité d'avoir une vue sur l'intégralité de vos projets ainsi que de
      les gérer individuellement.
    </div>

    <div class="descriptionFonctionnalité">
      Vous pouvez utiliser le système de tâche afin de vous organiser,
      vous pouvez donc en ajouter, les modifier, les visualiser ainsi que les supprimer.
    </div>

    <div class="descriptionFonctionnalité">
      Vous pouvez aussi gérer les développeurs lié(es) à tout vos projets. Vous pourrez en ajouter
      à vos projets mais aussi les supprimer. Vous avez aussi accès à un page regroupant tous les
      développeurs communs à vos projets.
    </div>
  </div>
</div>

<footer style="text-align: center">2 SIO | 2018 © Tous droits réservés</footer>


{{outlet}}