<div id="homeHeader" style="text-align: center; border-bottom: 2px solid grey; border-top: 2px solid grey">
  <h1>Bienvenue sur Boards</h1>
  <i>Votre nouvel outil de gestion de projet</i>
  <br> <br>
</div>

<div id="homeContainer">
  <div style="display: block; width: 100%; margin-top: 25px">
    <div class="imageFonctionnalité"></div>
    <div class="imageFonctionnalité"></div>
    <div class="imageFonctionnalité"></div>
    <div class="imageFonctionnalité"></div>
  </div>

  <div style="display: block; width: 100%;">
    <div class="descriptionFonctionnalité">
      Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas,
      cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia
      iam inde a primis auspiciis florentissimae.
    </div>

    <div class="descriptionFonctionnalité">
      Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas,
      cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia
      iam inde a primis auspiciis florentissimae.
    </div>

    <div class="descriptionFonctionnalité">
      Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas,
      cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia
      iam inde a primis auspiciis florentissimae.
    </div>

    <div class="descriptionFonctionnalité">
      Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas,
      cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia
      iam inde a primis auspiciis florentissimae.
    </div>
  </div>
</div>

<footer style="text-align: center">2 SIO | 2018 © Tous droits réservés</footer>


{{outlet}}