<div id="homeHeader">
  <h1>Bienvenue sur Boards</h1>
  <i>Votre nouvel outil de gestion de projet</i>
  <br> <br>
</div>


<div class="homeContainer">
  <div style="display: block; width: 100%; height: 220px; margin-top: 50px">
    <div class="containerFonctionnalité">
      <img src="assets/img/speedometer.png" class="imageFonctionnalité">
    </div>
    <div class="containerFonctionnalité">
      <img src="assets/img/calendar.png" class="imageFonctionnalité">
    </div>
    <div class="containerFonctionnalité">
      <img src="assets/img/task.png" class="imageFonctionnalité">
    </div>
    <div class="containerFonctionnalité">
      <img src="assets/img/user.png" class="imageFonctionnalité">
    </div>
  </div>

  <div style="display: block; width: 100%; height: 220px;">
      <div class="ui divider"></div>

      <div class="descriptionFonctionnalité" style="border-right: 1px solid rgba(34, 36, 38, 0.15)">
          <p>Vous avez accès à un tableau de bord vous indiquant toutes les données
          importante de vos projets tel que le nombre de tâches en cours, etc...</p>
      </div>

      <div class="descriptionFonctionnalité" style="border-right: 1px solid rgba(34, 36, 38, 0.15)">
          <p>Vous avez la posibilité d'avoir une vue sur l'intégralité de vos projets que vous soyez collaborateur ou propriétaire, celui-ci peux modifier le projet.</p>
      </div>

      <div class="descriptionFonctionnalité" style="border-right: 1px solid rgba(34, 36, 38, 0.15)">
          <p>Vous avez la posibilité d'utiliser le système de tâche afin de vous organiser,
            vous pouvez donc en ajouter, les modifier, les visualiser ainsi que les supprimer.</p>
      </div>

      <div class="descriptionFonctionnalité">
          <p>Vous pouvez aussi gérer les développeurs lié(es) à tout vos projets. Vous pourrez en ajouter
          à vos projets mais aussi les supprimer.</p>
      </div>
  </div>
</div>

<footer>2 SIO | 2018 © Tous droits réservés</footer>


{{outlet}}