<div id="homeHeader" style="text-align: center; border-bottom: 2px solid grey; border-top: 2px solid grey; padding-top: 15px; margin-bottom: 25px">
  <h1>Votre profil</h1>
  <i>Consulter vos données personnelles</i>
  <br> <br>
</div>

{{outlet}}