<div id="homeHeader">
  <h1>Projets</h1>
  <i>Consulter vos projets</i>
  <br> <br>
</div>

{{#link-to "projects.new" class="ui button"}}<i class="ui plus icon"></i>Ajout projet{{/link-to}}

<div class="ui divider"></div>

{{outlet}}

{{#ui-table elements=model.projects fields=model.fields operations=model.operations emptyMessage="Vous n'avez pas de projet actuellement"}}{{/ui-table}}

<footer>2 SIO | 2018 © Tous droits réservés</footer>



